ul {
  list-style-type: none;
}

.breadcrumbs {
  text-decoration: none;
  background-color: #ffe831;
  padding: 3px;
  color: black;
}

.moves {
  padding-top: 1em;
  margin-bottom: 0;
}

.small-board {
  display: inline-block;
  margin-right: 5px;
  width: 200px;
}

.medium-board {
  display: inline-block;
  margin-right: 5px;
  width: 300px;
}

.large-board {
  display: inline-block;
  margin-right: 10px;
  width: 400px;
}
